*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(61, 60, 60);
}

.container{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    color: rgb(192, 185, 185);
    /* box-shadow: 0 16 16 white; */
    /* box-shadow: rgba(254, 252, 252, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 2%;
}


.sizeInput{
    margin-bottom: 5%;
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid black; */
    /* border-radius: 50%; */
    
}

#first{
    text-transform: uppercase;   
}

.inputSize{
    /* background-color: rgb(232, 234, 236); */
    text-align: center;
    border-radius: 5px;
    background-color: rgb(186, 180, 169);
}

.buttonf{
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: rgb(188, 182, 172);
    margin-left: 35%;
    margin-right: 35%;
    height: 5vh;
}

.buttonf:hover{
    background-color: rgb(248, 239, 227);
}

.inputField{
    margin-top: 5%;
    background-color: rgb(176, 186, 197);
    color:black
}